<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Moia.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
	  <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                
                <remove name="Strict-Transport-Security" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
				
				<add name="Content-Security-Policy"/>
				
			    <remove name="X-Powered-By" />
                <add name="Access-Control-Request-Headers" value="*" />
                <add name="Access-Control-Request-Method" value="*" />
                <!-- <add name="X-Powered-By" value=" " /> -->
            </customHeaders>
        </httpProtocol>
    </system.webServer>
  </location>
    <system.webServer>
        <security>
		      <requestFiltering removeServerHeader="true" />
        </security>
    </system.webServer>
	<system.web>
		<httpRuntime enableVersionHeader="false" />
	</system.web>
</configuration>