.body-contain {
    height: 100%;
    // position: relative;
  }
  
  .paginate{
      // position:absolute;
      // bottom: 0;
      // left: 0;
      width: 100%;
      margin-top: 20px !important;
  }
  .custom-skeleton
  {
    width: 100% ;
    display: flex;
    overflow-y: auto;
    // background-color: red;
    justify-content: center;
    margin-top: 50px;
    .skeleton-items{
      width: 80% ;
    }
  }
  
  .plus-icon{
    font-size: 25px;
    color:#64995f;
  }
  
  