<div class="Titles d-flex justify-content-center align-items-center my-4 mt-5">
  <h4>الإعدادات</h4>
</div>
<div class="main" style="border-radius: 20px">
  <div class="row setting m-0 p-0 d-flex flex-row-reverse mt-5">
    <div class="col-12 col-md-4 col-lg-3 item">
      <a routerLink="/user"><p>المستخدمين</p></a>
    </div>
    <!-- <div class="col-12 col-md-4 col-lg-3 item">
      <a><p>الصلاحيات</p></a>
    </div> -->
    <div class="col-12 col-md-4 col-lg-3 item">
      <a routerLink="/committe"><p>الجمعيات</p></a>
    </div>
    <div class="col-12 col-md-4 col-lg-3 item">
      <a routerLink="/islam-recognition"><p>طريقة التعرف على الإسلام</p></a>
    </div>
    <div class="col-12 col-md-4 col-lg-3 item">
      <a routerLink="/witness"><p>الشهود</p></a>
    </div>
  </div>
</div>
