.p-inputtext,
.p-password,
.p-calendar,
.p-dropdown {
  width: 100%;
  height: 48px;
  &::placeholder {
    font-weight: 400;
    font-size: 15px;
    color: var(--input-placeholder);
  }
  background: var(--bg-input);
  border: 0.5px solid var(--input-border);
  border-radius: 6px;
}

.p-inputwrapper {
  width: 100%;
}

.p-card {
  .p-card-body {
    padding: 0.3rem 1.25rem !important;
  }
  .p-card-content {
    padding: 0.3rem 0 !important;
  }
}

.p-dropdown {
  // height: 40px !important;
  width: 100% !important;
  .p-dropdown-label.p-placeholder {
    text-align: right !important;
  }
}

.p-paginator {
  padding: 0rem 1rem;
  .p-dropdown,
  .p-inputwrapper {
    // height: 40px !important;
    width: fit-content !important;
  }
}

.p-dialog {
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  // height: 50vh !important;
  box-shadow: 2px 6px 34px rgb(0 0 0 / 70%);
}

.p-skeleton {
  width: 100%;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  height: 3rem !important;
}

.p-multiselect {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  width: 100% !important;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
  margin-right: 0.5rem;
  margin-left: 5px !important;
}

.p-multiselect-panel
  .p-multiselect-header
  .p-multiselect-filter-container
  .p-inputtext {
  padding-right: -9.25rem;
  width: 99% !important;
}

.p-multiselect-panel .p-multiselect-header .p-checkbox {
  margin-right: 0.5rem;
  margin-left: 10px !important;
}

.p-multiselect .p-multiselect-label.p-placeholder {
  color: #6c757d;
  text-align: right !important;
}

.p-megamenu {
  padding: 0.5rem;
  background: #dddddd;
  color: #495057;
  border: 1px solid #dee2e6;
  border-radius: 6px;
}

// .p-checkbox-box {
//   background-color: #e3e3e3 !important;
// }

.p-float-label label {
  right: 0;
  left: auto !important;
  padding-right: 10px;
}

.p-inputtext {
  direction: rtl;
}

.p-accordion-header {
  direction: rtl;
}

// .p-megamenu-root-list > .p-menuitem-active > .p-megamenu-panel {
//   display: block;
//   width: 245%;
// }

// .p-megamenu .p-megamenu-submenu {
//   padding: 0.25rem 0;
//   width: 88%;
// }


.p-tooltip {
  max-width: unset !important; /* Adjust the width as needed */
  word-wrap: break-word; /* Ensure text wraps within the tooltip */
}


.p-timeline,.p-dialog{
  font-family: "Almarai-Regular" !important;
}

.p-dialog .p-dialog-header {
  border-bottom: 0 none;
  background: #ffffff;
  color: #343a40;
  padding: 1.5rem;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  display: flex;
  justify-content: end;
}

.p-confirm-dialog .p-dialog-content {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.p-timeline-event-opposite{
  padding-bottom: 20px !important;
}